nav {
  background-color: var(--background-secondary);
  padding: 0 2rem 1rem 2rem;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}

.heading {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.heading h1 {
  margin-bottom: 1rem;
}
.heading p {
  margin-bottom: 1.1rem;  
}

.guix {
  width: 3rem;
  margin-bottom: 0.8rem;
}

input {
  flex: 1;
  width: 0;
  height: 2rem;
  font-family: inherit;
  font-size: 16px;
  padding: 1rem 1rem;
}

.about {
  display: none;
}

.about img {
  height: 2rem;
  margin-bottom: 1rem;
}

.search {
  display: flex;
  background-color: white;
  border: 0.2rem solid white;
  border-radius: var(--border-radius);
  max-width: 30rem;
}

 img:not(.guix) {
  filter: invert(12%) sepia(13%) saturate(1687%) hue-rotate(175deg) brightness(95%) contrast(90%);
}

.search img.glass {
  width: 1.8rem;
  padding-left: 0.8rem; 
}

.search img.spinner {
  aspect-ratio: 1/1;
  width: 2rem;
  padding: 0.5rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes spin {
 from {
   transform:rotate(0deg);
 }

 to {
   transform:rotate(360deg);
 }
}

.search img.clear {
  margin-left: 0;
  width: 1.7rem;
  padding-right: 0.8rem;
  cursor: pointer;
}

.search .hidden {
  visibility: hidden;
}

.search input {
  border: none;
  outline: none;
  color: var(--text-alt);
}

@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
  .about {
    margin-left: auto;
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  nav {
    padding-left: 15%;
  }
}
