:root {
  --background-primary: #1f2937;
  --background-secondary: #374151;
  --text-primary: #9ca3af;
  --text-secondary: #e5e7eb;
  --text-link: #5b9ced;
  --text-alt: #4b5563;

  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
  margin: 0;
}

@media only screen and (max-width: 429px) {
  body {
    font-size: 1.25rem;
  }
}

nav {
  background-color: var(--background-secondary);
  padding: 0 2rem 1rem 2rem;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 1fr
}

h1, h2 {
  color: var(--text-secondary);
}

.heading {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.heading h1 {
  margin-bottom: 1rem;
}
.heading p {
  margin-bottom: 1.1rem;  
}

@media only screen and (max-width: 429px) {
  .heading p {
    margin-bottom: 1.2rem;
  }
}

.guix {
  width: 3rem;
  margin-bottom: 0.8rem;
}

input {
  flex: 1;
  width: 0;
  height: 2rem;
  font-family: inherit;
  font-size: 16px;
  padding: 1rem 1rem;
}

.container {
  grid-row: 2;
}

.container, .heading {
  grid-column: 1/3;
}

.about {
  grid-column: 6;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.about img {
  height: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
  .container, .heading {
    grid-column: 1/4;
  }
}

@media only screen and (max-width: 429px) {
  .container, .heading {
    grid-column: 1/7;
  }

  nav {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .about {
    display: none;
  }
}

.search {
  display: flex;
  background-color: white;
  border: 0.2rem solid white;
  border-radius: var(--border-radius);
}

 img:not(.guix) {
  filter: invert(12%) sepia(13%) saturate(1687%) hue-rotate(175deg) brightness(95%) contrast(90%);
}

.search img.glass {
  width: 1.8rem;
  padding-left: 0.8rem; 
}

.search img.spinner {
  aspect-ratio: 1/1;
  width: 2rem;
  padding: 0.5rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes spin {
 from {
   transform:rotate(0deg);
 }

 to {
   transform:rotate(360deg);
 }
}

.search img.clear {
  margin-left: 0;
  width: 1.7rem;
  padding-right: 0.8rem;
  cursor: pointer;
}

.search .hidden {
  visibility: hidden;
}

.search input {
  border: none;
  outline: none;
  color: var(--text-alt);
}

article {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

article:first-of-type {
  margin-top: 1rem;
}

@media only screen and (min-width: 428px) {
  article {
    max-width: 50vw;
  }
}

article a {
 text-decoration: none;
}
article h2 {
  text-decoration: none;
  border-bottom-style: none;
}

.search-message {
  margin: 1rem 2rem;
  font-size: 1rem;
}

.package-title {
  display: flex;
  align-items: center;
}

.package-title  h2 {
  margin: 0;
}
.package-title p {
  margin: 0.35em 0 0 1rem;
}
